<section class="flex flex-col gap-6 px-6 py-12">
  <p-breadcrumb [model]="navigationItems" />

  @let categoryData = category();
  @if (categoryData) {
    <!-- Form Header -->
    <div class="mb-8 text-center">
      <h1 class="mb-2 text-3xl font-bold text-gray-900 dark:text-gray-100">
        Update Category
      </h1>
      <p class="text-gray-600 dark:text-gray-400">
        Modify your category details and keep your inventory up to date
      </p>
    </div>

    <!-- Form -->
    <form
      [formGroup]="editCategoryForm"
      (ngSubmit)="updateCategory()"
      class="app-ring-1 mx-auto grid w-full grid-cols-1 gap-6 rounded-2xl p-8 md:max-w-2xl md:grid-cols-2"
    >
      <!-- Picture -->
      <div class="flex flex-col gap-2 md:col-span-2">
        <app-form-image
          [fetchedImage]="categoryData.pictureUrl"
          (onUploadImage)="onUploadImage($event)"
          (valid)="onValidateImage($event)"
        />
      </div>

      <!-- Name -->
      <div class="flex flex-col gap-2 md:col-span-2">
        <label class="opacity-75" for="name">Default Name</label>
        <input formControlName="name" id="name" pInputText />
        <app-form-errors
          [control]="editCategoryForm.controls.name"
          label="Name"
        />
      </div>

      <!-- Translations -->
      <div class="md:col-span-2">
        <p-fieldset legend="Name Translations">
          <div formArrayName="translations" class="flex flex-col gap-4 py-4">
            @for (
              group of editCategoryForm.controls.translations.controls;
              track $index
            ) {
              <div class="flex flex-col gap-2" [formGroupName]="$index">
                <p-floatlabel variant="on">
                  <input
                    formControlName="name"
                    pInputText
                    [id]="$index"
                    autocomplete="off"
                    class="w-full"
                  />

                  <label [htmlFor]="$index">
                    {{ translationsKeys()[$index] }}
                  </label>
                </p-floatlabel>

                <app-form-errors
                  [control]="getControl(group, 'name')"
                  label="Name"
                />
              </div>
            }
          </div>
        </p-fieldset>
      </div>

      <!-- Submit Button -->
      <div class="flex justify-end md:col-span-2">
        <p-button
          type="submit"
          label="Update"
          icon="pi pi-save"
          [loading]="loading()"
          [disabled]="!canSubmit"
        />
      </div>
    </form>
  } @else {
    <div class="w-full md:mx-auto md:w-3/4">
      <p-message size="large" severity="warn">
        This brand either does
        <strong>not exist</strong> or has been <strong>deleted</strong>.
      </p-message>
    </div>
  }
</section>
