@let ctrl = control();

@if (ctrl) {
  @if (ctrl.dirty && ctrl.hasError("required")) {
    <p-message severity="error" variant="simple" size="small">
      {{ label() }} is required
    </p-message>
  }

  @if (ctrl.dirty && ctrl.hasError("minlength")) {
    <p-message severity="error" variant="simple" size="small">
      {{ label() }} must be at least
      {{ ctrl.getError("minlength").requiredLength }} characters long
    </p-message>
  }

  @if (ctrl.dirty && ctrl.hasError("maxlength")) {
    <p-message severity="error" variant="simple" size="small">
      {{ label() }} must be at most
      {{ ctrl.getError("maxlength").requiredLength }} characters long
    </p-message>
  }

  @if (ctrl.dirty && ctrl.hasError("min")) {
    <p-message severity="error" variant="simple" size="small">
      {{ label() }} must be greater than {{ ctrl.getError("min").min }}
    </p-message>
  }

  @if (ctrl.dirty && ctrl.hasError("max")) {
    <p-message severity="error" variant="simple" size="small">
      {{ label() }} must be less than {{ ctrl.getError("max").max }}
    </p-message>
  }
}
