<section class="px-6 py-12">
  <p-card class="mx-auto w-full max-w-xl p-5">
    <ng-template pTemplate="header">
      <div class="flex flex-col items-center gap-4">
        <img src="/logo.png" alt="Logo" class="size-20" />

        <div class="flex w-full flex-col items-center gap-2 text-center">
          <h2
            class="text-surface-900 dark:text-surface-0 text-2xl leading-tight font-semibold"
          >
            Reset Password
          </h2>
          <p class="text-surface-600 dark:text-surface-400 text-sm">
            Please enter your new password below
          </p>
        </div>
      </div>
    </ng-template>

    <!-- Form -->
    <form
      [formGroup]="resetPasswordForm"
      (ngSubmit)="submit()"
      class="mt-6 flex flex-col gap-6"
    >
    @let newPassword = resetPasswordForm.controls.newPassword;
    <div class="flex flex-col gap-2 ">
      <label class="block" for="newPassword"
        >New Password</label
      >
      <p-password
        formControlName="newPassword"
        inputId="newPassword"
        [toggleMask]="true"
        [feedback]="false"
        fluid
      />
      @if ((newPassword.dirty || newPassword.touched) && newPassword.hasError("required")) {
        <p-message severity="error" variant="simple" size="small">
          New Password is required
        </p-message>
      }
      @if ((newPassword.dirty || newPassword.touched) && newPassword.hasError("pattern")) {
      <p-message severity="error" variant="simple" size="small">
          <p class="font-medium">Password must contain:</p>
          <ul class="list-disc ps-6 text-sm">
            <li>At least 6 characters</li>
            <li>One lowercase letter (a–z)</li>
            <li>One uppercase letter (A–Z)</li>
            <li>One number (0–9)</li>
            <li>One special character (@$!%*?&)</li>
          </ul>
      </p-message>
      }
    </div>

      <!-- Confirm Password -->
    @let confirmNewPassword = resetPasswordForm.controls.confirmNewPassword;
    <div class="flex flex-col gap-2 ">
      <label
        class="block"
        for="confirmNewPassword"
        >Confirm New Password</label
      >
      <p-password
        formControlName="confirmNewPassword"
        inputId="confirmNewPassword"
        [toggleMask]="true"
        [feedback]="false"
        fluid
      />
      @if (confirmNewPassword.dirty && confirmNewPassword.hasError("required")) {
        <p-message severity="error" variant="simple" size="small">
          Confirm New Password is required
        </p-message>
      }
    </div>

    @if (confirmNewPassword.dirty && newPassword.dirty && resetPasswordForm.hasError("nomatch")) {
      <p-message severity="warn" variant="text" >
        "New Password" and "Confirm New Password" are not the same.
      </p-message>
    }

      <!-- Actions -->
      <div
        class="flex w-full flex-col items-center justify-between gap-3 sm:flex-row"
      >
        <a
          [routerLink]="['/login']"
          class="text-primary hover:text-primary-emphasis font-medium"
        >
          Back to Login
        </a>

        <p-button
          type="submit"
          [loading]="loading()"
          [disabled]="resetPasswordForm.invalid"
          icon="pi pi-lock"
          label="Reset Password"
          severity="primary"
          fluid
        />
      </div>
    </form>
  </p-card>
</section>
