<section class="space-y-2">
  <div class="flex items-center justify-between">
    <h3 class="text-lg font-semibold">Order Summary</h3>
    <p-button
      label="Cancel Order"
      icon="pi pi-times"
      severity="danger"
      outlined
    />
  </div>
  <div
    class="app-ring-1 flex flex-wrap items-center justify-between gap-6 rounded-lg px-6 py-4 shadow"
  >
    <div class="flex flex-col gap-2">
      <p class="font-semibold">Order ID</p>
      <p class="opacity-75">#{{ order().orderId }}</p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-semibold">Order Date</p>
      <p class="opacity-75">
        {{ order().orderDate | date: "medium" }}
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-semibold">Order Status</p>
      <p-tag
        [severity]="statusToSeverity(order().orderStatus)"
        [value]="order().orderStatus"
        class="font-medium"
      />
    </div>
    <div class="flex flex-col gap-2">
      <p class="font-semibold">Total</p>
      <p class="text-primary text-lg font-medium">
        {{ order().total | currency: "USD" : "symbol" : "1.2-2" }}
      </p>
    </div>
  </div>
</section>
