<section class="px-6 py-12">
  <p-card class="mx-auto w-full max-w-xl p-5">
    <ng-template pTemplate="header">
      <div class="flex flex-col items-center gap-4">
        <img src="/logo.png" alt="Logo" class="size-20" />

        <div class="flex w-full flex-col items-center gap-2 text-center">
          <h2
            class="text-surface-900 dark:text-surface-0 text-2xl leading-tight font-semibold"
          >
            Forgot Password
          </h2>
          <p class="text-surface-600 dark:text-surface-400 text-sm">
            Enter your email to reset your password
          </p>
        </div>
      </div>
    </ng-template>

    <form
      [formGroup]="forgetPasswordForm"
      (ngSubmit)="submit()"
      class="mt-6 flex flex-col gap-5"
    >
      <!-- Email Field -->
      @let email = forgetPasswordForm.controls.email;
      <div class="flex flex-col gap-2">
        <label for="email" class="text-sm font-medium">Email</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          pInputText
          autocomplete="email"
          class="w-full"
        />
        @if ((email.dirty || email.touched) && email.hasError("required")) {
          <p-message severity="error" variant="simple" size="small">
            Email is required
          </p-message>
        }
        @if ((email.dirty || email.touched) && email.hasError("email")) {
          <p-message severity="error" variant="simple" size="small">
            Email is invalid
          </p-message>
        }
      </div>

      <!-- Actions -->
      <div
        class="flex w-full flex-col items-center justify-between gap-3 sm:flex-row"
      >
        <a
          [routerLink]="['/login']"
          class="text-primary hover:text-primary-emphasis font-medium"
        >
          Back to Login
        </a>

        <p-button
          type="submit"
          [loading]="loading()"
          [disabled]="forgetPasswordForm.invalid"
          icon="pi pi-send"
          label="Send Reset Link"
          severity="primary"
          fluid
        />
      </div>
    </form>
  </p-card>
</section>
